# Python Environment
.venv/
.mypy_cache/
.pytest_cache/

# Python Outputs
__pycache__/
*.pyc
*.o
*.so

# Notebook Cache
.ipynb_checkpoints/

# Project
output/
data/
prompt_logs/
!data/source_urls.json
*.typ

# Settings
.vscode/
.env