services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - ollama_data:/root/.ollama
      - ./entrypoint.sh:/entrypoint.sh
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_MODEL=llama3
    entrypoint: ["/bin/bash", "/entrypoint.sh"]
    restart: unless-stopped

volumes:
  ollama_data:
    name: shared_ollama_models